@font-face{
    font-family: "Josefin Sans";
    src: url('./fonts/JosefinSans-SemiBold.ttf') format('ttf');
    src: url('./fonts/JosefinSans-Light.ttf') format('ttf');
}
*{

    font-family: "Josefin Sans";
}
body{
    margin: 0px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 27%;
}
.lille {
    max-width: 100%;
}




.tab {
    text-align: center;
    font-size: 1.5vmax;
    line-height: 1;
    margin-bottom: 15px;
    padding-top: 70px;
    position: relative;
}
.villes {
    text-align: center;
}
.city {
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2px;
    margin-top: 2px;
}
.box {
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform-origin: top left;
    vertical-align: middle;
    height: 170px;
}



.content {
    text-align: center;
    padding: 2vmax;
    line-height: 2;
    margin-bottom: 10vmax;
}
nav {
    height: 100%;
    width: 60%;
    min-width: 85%;
    margin: auto;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    padding: 40px;
    font-size: 1vmax;
}
li {
    list-style-type: none;
    margin: 2%;
}
.space {
    width: 15%;
    border-bottom: 1px solid rgba(28,28,28,0.9)
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
}
.article {
    margin: auto;
    text-align: justify;
    padding: 20px;
    width: 35%;
    height: 35%;
 }


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    border: 1px solid #aaa;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    background: #aaa;  
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #2793e6;  
}
 
footer {
    position: absolute;
}

footer img {
    max-width: 100%;
}