body {
    font-family: 'Courier New', Courier, monospace;
}


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 27%;
}
.lille {
    max-width: 100%;
}




.tab {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
    padding-top: 70px;
    position: relative;
}
.villes {
    text-align: center;
}
.city {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.box {
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform-origin: top left;
    vertical-align: middle;
    height: 170px;
}
p {
    font-family: MONOSPACE;
}



.content {
    display: flex;
    padding: 100px;
    line-height: 2;
}
nav {
    width: 87%;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    height: 46pc;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
}
article, nav {
    padding: 40px;
}
article {
    text-align: justify;
    background:aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    height: 46pc;
}


footer img {
    max-width: 100%;
}