header {
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	height: 100%;
	padding: 13px;
  background-color:rgb(238, 37, 54);	
}

nav {
  padding: 15px;
}

h1 {
  font-family: "Sofia";
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 300%;
}


img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  bottom: 0;
  width: 100%;
  padding-top: 50px;
}

body {
  margin:0;
}

.a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Sofia";
  letter-spacing: 1px;
  font-size: 150%;
}
p {
    background-color: rgb(0, 30, 150);
    margin: 0px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:3vh;
  text-align:center;

}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
 
  
}
